<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/system_file.xsd">
    <system>
		<tab id="magecomp" translate="label" sortOrder="100" class="magecomp-logo">
			<label><![CDATA[]]></label>
		</tab>
        <section id="sms" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
			 <tab>magecomp</tab>
             <label>SMS Notification</label>
          	 <resource>Magecomp_Sms::smsconfig</resource>
			 <group id="general" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Configuration</label>
					<field id="enable" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
						<label>SMS Notification</label>
						<source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
					</field>
			 </group>
			 <group id="smsgatways" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>SMS Gateway</label>
				<field id="gateway" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>SMS Gateway</label>
					<source_model>Magecomp\Sms\Model\Config\Gateways</source_model>
					<config_path>sms/smsgatways/gateway</config_path>
				</field>
			 </group>
			<group id="generalsection" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>General Section</label>
				<field id="otptype" type="select" sortOrder="21" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>OTP Type</label>
					<source_model>Magecomp\Sms\Model\Config\Otp\Type</source_model>
				</field>
				<field id="otplength" type="select" sortOrder="22" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>OTP Length</label>
					<source_model>Magecomp\Sms\Model\Config\Otp\Length</source_model>
				</field>
				<field id="buttonclass" type="text" sortOrder="23" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Button Style Class</label>
					<comment><![CDATA[Add Multiple css class with space.]]></comment>
				</field>
			</group>
		 </section>
		<section id="usertemplate" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
			<tab>magecomp</tab>
			<label>User Templates</label>
			<resource>Magecomp_Sms::smsconfig</resource>
			<group id="usersignupconfirm" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>OTP at Registration</label>
				<field id="enable" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Confirmation</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment><![CDATA[OTP will be Required for Customer Registration]]></comment>
				</field>
				<field id="template" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Confirmation Text</label>
					<comment><![CDATA[Variable : {{var otp}}]]></comment>
					<depends><field id="enable">1</field></depends>
					<validate>required-entry</validate>
				</field>
			</group>
			<group id="usersignup" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Registration Notification</label>
				<field id="enable" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Notification</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment><![CDATA[SMS Notification will be Sent After Customer Registration]]></comment>
				</field>
				<field id="template" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Notification Text</label>
					<comment><![CDATA[<b>Variables : </b>{{var mobilenumber}} <br /> <b>Objects : </b>customer (<a href="https://magecomp.com/support/docs/magento-2-sms-notification-basic-extension/sms-variables-objects-list/" target="__blank">User Manual</a>)]]></comment>
					<depends><field id="enable">1</field></depends>
					<validate>required-entry</validate>
				</field>
			</group>
			<group id="usermobileconfirm" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>OTP at My Account</label>
				<field id="enable" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Confirmation</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment><![CDATA[OTP to Change The Mobile Number From My Account Section]]></comment>
				</field>
				<field id="template" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Confirmation Text</label>
					<comment><![CDATA[{{var otp}}]]></comment>
					<depends><field id="enable">1</field></depends>
					<validate>required-entry</validate>
				</field>
			</group>
			<group id="userorderconfirm" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>OTP at Checkout</label>
				<field id="enable" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Confirmation</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment><![CDATA[Order Verification by OTP Based on Payment Method and Customer Group]]></comment>
				</field>
				<field id="template" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Confirmation Text</label>
					<comment><![CDATA[Variable : {{var otp}}]]></comment>
					<depends><field id="enable">1</field></depends>
					<validate>required-entry</validate>
				</field>
			</group>
			<group id="userorderplace" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Place Order Notification</label>
				<field id="enable" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Notification</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment><![CDATA[SMS Notification will be Sent After Order Place]]></comment>
				</field>
				<field id="template" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Notification Text</label>
					<comment><![CDATA[<b>Variables : </b>{{var mobilenumber}},{{var order_total}} <br /> <b>Objects : </b>order,customer (<a href="https://magecomp.com/support/docs/magento-2-sms-notification-basic-extension/sms-variables-objects-list/" target="__blank">User Manual</a>)]]></comment>
					<depends><field id="enable">1</field></depends>
					<validate>required-entry</validate>
				</field>
			</group>
			<group id="userinvoice" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Invoice Notification</label>
				<field id="enable" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Notification</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment><![CDATA[SMS Notification will be Sent After Invoice Generation]]></comment>
				</field>
				<field id="template" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Notification Text</label>
					<comment><![CDATA[<b>Variables : </b>{{var mobilenumber}},{{var invoice_total}} <br /> <b>Objects : </b>invoice,order,customer (<a href="https://magecomp.com/support/docs/magento-2-sms-notification-basic-extension/sms-variables-objects-list/" target="__blank">User Manual</a>)]]></comment>
					<depends><field id="enable">1</field></depends>
					<validate>required-entry</validate>
				</field>
			</group>
			<group id="usershipment" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Shipment Notification</label>
				<field id="enable" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Notification</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment><![CDATA[SMS Notification will be Sent After Shipment Generation]]></comment>
				</field>
				<field id="template" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Notification Text</label>
					<comment><![CDATA[<b>Variables : </b>{{var mobilenumber}},{{var shippingcarrier}},{{ var trackingnumber}} <br /> <b>Objects : </b>shipment,order,customer (<a href="https://magecomp.com/support/docs/magento-2-sms-notification-basic-extension/sms-variables-objects-list/" target="__blank">User Manual</a>)]]></comment>
					<depends><field id="enable">1</field></depends>
					<validate>required-entry</validate>
				</field>
			</group>
			<group id="usercreditmemo" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Credit Memo Notification</label>
				<field id="enable" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Notification</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment><![CDATA[SMS Notification will be Sent After Credit Memo Generation]]></comment>
				</field>
				<field id="template" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" >
					<label>Notification Text</label>
					<comment><![CDATA[<b>Variables : </b>{{var mobilenumber}} <br /> <b>Objects : </b>creditmemo,order,customer (<a href="https://magecomp.com/support/docs/magento-2-sms-notification-basic-extension/sms-variables-objects-list/" target="__blank">User Manual</a>)]]></comment>
					<depends><field id="enable">1</field></depends>
					<validate>required-entry</validate>
				</field>
			</group>
			<group id="usercancelorder" sortOrder="85" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Cancel Order Notification</label>
				<field id="enable" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Notification</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment><![CDATA[SMS Notification will be Sent After Order Cancellation.]]></comment>
				</field>
				<field id="template" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" >
					<label>Notification Text</label>
					<comment><![CDATA[<b>Variables : </b>{{var mobilenumber}} <br /> <b>Objects : </b>order,customer (<a href="https://magecomp.com/support/docs/magento-2-sms-notification-basic-extension/sms-variables-objects-list/" target="__blank">User Manual</a>)]]></comment>
					<depends><field id="enable">1</field></depends>
					<validate>required-entry</validate>
				</field>
			</group>
			<group id="usercontactus" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Contact Notification</label>
				<field id="enable" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Notification</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment><![CDATA[This Notification will be Sent to Customer, Once He/She Fill-up the Contact Form.]]></comment>
				</field>
				<field id="template" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" >
					<label>Notification Text</label>
					<comment><![CDATA[<b>Variables : </b> {{var name}},{{var email}},{{var telephone}},{{var comment}},{{var store_name}}]]></comment>
					<depends><field id="enable">1</field></depends>
					<validate>required-entry</validate>
				</field>
			</group>
		</section>
		<section id="admintemplate" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
			<tab>magecomp</tab>
			<label>Admin Templates</label>
			<resource>Magecomp_Sms::smsconfig</resource>
			<group id="admingeneral" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>General</label>
				<field id="mobile" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Admin Mobile Number(s)</label>
					<comment><![CDATA[Add Number With Country Code e.g:-(91xxxxxx013) <br />You can Enter Multiple Admin Numbers by Comma Separated (,)]]></comment>
				</field>
			</group>
			<group id="adminsignup" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Registration Notification</label>
				<field id="enable" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Notification</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment><![CDATA[SMS Notification will be Sent To Admin After Customer Registration]]></comment>
				</field>
				<field id="template" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Notification Text</label>
					<comment><![CDATA[<b>Variables : </b>{{var mobilenumber}} <br /> <b>Objects : </b>customer (<a href="https://magecomp.com/support/docs/magento-2-sms-notification-basic-extension/sms-variables-objects-list/" target="__blank">User Manual</a>)]]></comment>
					<depends><field id="enable">1</field></depends>
					<validate>required-entry</validate>
				</field>
			</group>
			<group id="adminorderplace" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Place Order Notification</label>
				<field id="enable" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Notification</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment><![CDATA[SMS Notification will be Sent To Admin After Order Placed]]></comment>
				</field>
				<field id="template" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Notification Text</label>
					<comment><![CDATA[<b>Variables : </b>{{var mobilenumber}},{{var order_total}} <br /> <b>Objects : </b>order,customer (<a href="https://magecomp.com/support/docs/magento-2-sms-notification-basic-extension/sms-variables-objects-list/" target="__blank">User Manual</a>)]]></comment>
					<depends><field id="enable">1</field></depends>
					<validate>required-entry</validate>
				</field>
			</group>
			<group id="admininvoice" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Invoice Notification</label>
				<field id="enable" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Notification</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment><![CDATA[SMS Notification will be Sent To Admin After Invoice Generation]]></comment>
				</field>
				<field id="template" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Notification Text</label>
					<comment><![CDATA[<b>Variables : </b>{{var mobilenumber}},{{var invoice_total}} <br /> <b>Objects : </b>invoice,order,customer (<a href="https://magecomp.com/support/docs/magento-2-sms-notification-basic-extension/sms-variables-objects-list/" target="__blank">User Manual</a>)]]></comment>
					<depends><field id="enable">1</field></depends>
					<validate>required-entry</validate>
				</field>
			</group>
			<group id="adminshipment" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Shipment Notification</label>
				<field id="enable" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Notification</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment><![CDATA[SMS Notification will be Sent To Admin After Shipment Generation]]></comment>
				</field>
				<field id="template" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Notification Text</label>
					<comment><![CDATA[<b>Variables : </b>{{var mobilenumber}} <br /> <b>Objects : </b>shipment,order,customer (<a href="https://magecomp.com/support/docs/magento-2-sms-notification-basic-extension/sms-variables-objects-list/" target="__blank">User Manual</a>)]]></comment>
					<depends><field id="enable">1</field></depends>
					<validate>required-entry</validate>
				</field>
			</group>
			<group id="admincreditmemo" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Credit Memo Notification</label>
				<field id="enable" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Notification</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment><![CDATA[SMS Notification will be Sent To Admin After Credit Memo Generation]]></comment>
				</field>
				<field id="template" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" >
					<label>Notification Text</label>
					<comment><![CDATA[<b>Variables : </b>{{var mobilenumber}} <br /> <b>Objects : </b>creditmemo,order,customer (<a href="https://magecomp.com/support/docs/magento-2-sms-notification-basic-extension/sms-variables-objects-list/" target="__blank">User Manual</a>)]]></comment>
					<depends><field id="enable">1</field></depends>
					<validate>required-entry</validate>
				</field>
			</group>
			<group id="admincontactus" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Contact Notification</label>
				<field id="enable" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Notification</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment><![CDATA[This Notification will be Sent to Admin, Once Customer Fill-up the Contact Form]]></comment>
				</field>
				<field id="template" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" >
					<label>Notification Text</label>
					<comment><![CDATA[<b>Variables : </b> {{var name}},{{var email}},{{var telephone}},{{var comment}},{{var store_name}}]]></comment>
					<depends><field id="enable">1</field></depends>
					<validate>required-entry</validate>
				</field>
			</group>
		</section>
    </system>
</config>
