<?xml version="1.0" ?>
 <!--
 /**
  * Copyright © Magefan (support@magefan.com). All rights reserved.
  * Please visit Magefan.com for license details (https://magefan.com/end-user-license-agreement).
  */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="convert_to_webp" xsi:type="object">Magefan\WebP\Console\Command\Convert</item>
            </argument>
        </arguments>
    </type>

    <preference for="Magefan\WebP\Api\GetWebPUrlInterface" type="Magefan\WebP\Model\GetWebPUrl" />
    <preference for="Magefan\WebP\Api\GetWebPPathInterface" type="Magefan\WebP\Model\GetWebPPath" />
    <preference for="Magefan\WebP\Api\GetOriginWebPUrlInterface" type="Magefan\WebP\Model\GetOriginWebPUrl" />
    <preference for="Magefan\WebP\Api\CreateWebPImageInterface" type="Magefan\WebP\Model\CreateWebPImage" />

    <preference for="Magefan\WebP\Api\HtmlParserInterface" type="Magefan\WebP\Model\Parser\Html" />
    <preference for="Magefan\WebP\Api\AmpHtmlParserInterface" type="Magefan\WebP\Model\Parser\AmpHtml" />

    <preference for="Magefan\WebP\Api\ImageNeedSkipInterface" type="Magefan\WebP\Model\ImageNeedSkip" />

    <type name="Magento\MediaStorage\App\Media">
        <plugin disabled="false" name="Magefan_WebP_Plugin_Magento_MediaStorage_App_MediaPlugin" sortOrder="10" type="Magefan\WebP\Plugin\Magento\MediaStorage\App\MediaPlugin"/>
    </type>
</config>
