<?xml version="1.0"?>
<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_StorePickup
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="storepickup" xsi:type="array">
                    <item name="class" xsi:type="string">Webkul\StorePickup\Ui\DataProvider\Product\Form\Modifier\ProductAssign</item>
                    <item name="sortOrder" xsi:type="number">15</item>
                </item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Webkul\StorePickup\Ui\DataProvider\Product\Form\Modifier\ProductAssign">
        <arguments>
            <argument name="scopeName" xsi:type="string">product_form.product_form</argument>
        </arguments>
    </type>
</config>
