<?xml version="1.0"?>
<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_StorePickup
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_save_after">
        <observer name="webkul_storepickup_after_product_save" instance="Webkul\StorePickup\Observer\AfterProductSave" />
    </event>

    <event name="admin_system_config_changed_section_carriers">
        <observer name="webkul_storepickup_after_config_save" instance="Webkul\StorePickup\Observer\AfterConfigSave" />
    </event>

    <event name="pickup_store_save_after">
        <observer name="webkul_pickup_store_save_after" instance="Webkul\StorePickup\Observer\PickupStoreSaveAfter" />
    </event>
</config>
