<?xml version="1.0"?>

<!--
  ~ Copyright © 2018 Ideo. All rights reserved.
  ~ @license GPLv3
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="ideo" translate="label" sortOrder="200">
            <label>Ideo Extensions</label>
        </tab>
        <section id="storelocator" translate="label" type="text" sortOrder="400" showInDefault="1">
            <label>Store Locator</label>
            <tab>ideo</tab>
            <resource>Ideo_StoreLocator::configuration</resource>
            <group id="google_api_key" translate="label" type="text" sortOrder="10" showInDefault="1">
                <label>Google Api Key</label>
                <field id="frontend" translate="label" sortOrder="10" type="text" showInDefault="1">
                    <label>Frontend Key</label>
                    <validate>required-entry</validate>
                </field>
                <field id="backend" translate="label" sortOrder="10" type="text" showInDefault="1">
                    <label>Backend Key</label>
                    <validate>required-entry</validate>
                </field>
            </group>
            <group id="configuration" translate="label" type="text" sortOrder="10" showInDefault="1">
                <label>Configuration</label>
                <field id="group_by" translate="label" sortOrder="20" type="select" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Group Stores By</label>
                    <source_model>Ideo\StoreLocator\Model\Config\Source\GroupBy</source_model>
                </field>
            </group>
        </section>
    </system>
</config>