/*Promotion/Announcement Bar*/
@media screen and (max-width: 768px) {
    .container {
        max-width: 1320px;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    div#promo-announcement-bar p {
        font-family: Inter, serif;
        font-weight: 400;
        font-style: normal;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: normal;
        text-align: center;
        vertical-align: middle;
        color: #FFFFFF;
        margin-bottom: 0;
        padding: 8px 0;
    }

    .panel.promotion, .bg-wine-red {
        background: linear-gradient(90deg, #C10007 0%, #9F0712 100%) !important;
    }
}