<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * CedCommerce
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End User License Agreement (EULA)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * https://cedcommerce.com/license-agreement.txt
 *
 * @category    Ced
 * @package     Ced_Delhivery
 * @author      CedCommerce Core Team <connect@cedcommerce.com>
 * @copyright   Copyright CedCommerce (https://cedcommerce.com/)
 * @license      https://cedcommerce.com/license-agreement.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_shipment_save_before">
        <observer name="delhivery_shipment_genrate" instance="Ced\Delhivery\Observer\SalesShipment"/>
    </event>
    <event name="sales_order_shipment_track_save_after">
        <observer name="delhivery_shipment_track" instance="Ced\Delhivery\Observer\SalesShipmentTrack"/>
    </event>
</config>
