<?xml version="1.0"?>

<!--
  ~ Copyright © 2018 Ideo. All rights reserved.
  ~ @license GPLv3
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <storelocator>
            <configuration>
                <group_by>0</group_by>
            </configuration>
        </storelocator>
    </default>
</config>
